@import "../abstracts/mixins";
@import "../abstracts/variables";

.what-i-do {
  border-bottom: 1px solid #252525;
  .wrapper {

    @media (max-width: $bp-xs) {
      width: 100%;
      gap: 20px;
    }

    @media (min-width: 481px) and (max-width: $bp-md) {
      gap: 40px;
    }

    @media (max-width: $bp-xs) {
      @include flex($direction: column);
    }

    @media (min-width: 481px) and (max-width: $bp-md) {
      @include flex($direction: column);
    }

    .column {
      @media (max-width: $bp-xs) {
        width: 100%;
      }

      @media (min-width: 481px) and (max-width: $bp-md) {
        width: 100%;
      }


      .background-image {
        @media (max-width: $bp-xs) {
          height: 342px;
          background-size: cover;
        }

        @media (min-width: 481px) and (max-width: $bp-md) {
          background-size: cover;
          height: 665px;
        }
      }

      .title {

        @media (max-width: $bp-xs) {
          margin-top: 20px;
          font-size: 50px;
          text-align: center;
          margin-bottom: 40px;
        }

        @media (min-width: 481px) and (max-width: $bp-md) {
          text-align: center;
        }

      }

      .designs {

        @media (max-width: $bp-xs) {
          width: 100%;
        }

        @media (min-width: 481px) and (max-width: $bp-md) {
          width: 100%;
        }
      }

      .designs__title {
        @media (max-width: $bp-xs) {
          padding-left: 50px;
          font-size: 20px;
        }

        @media (min-width: 481px) and (max-width: $bp-md) {
          padding-left: 82px;
        }

        &::before {
          @media (max-width: $bp-xs) {
            font-size: 20px;
            top: 1px;
            padding: 0 20px;
          }

          @media (min-width: 481px) and (max-width: $bp-md) {
            padding: 0 30px;
          }
        }
      }

      .designs__description {

        @media (max-width: $bp-xs) {
          font-size: $small;
          line-height: 30px;
          padding: 0 20px 30px;
        }

        @media (min-width: 481px) and (max-width: $bp-md) {
          padding: 0 30px 40px;
        }
      }
    }
  }
}
