@import "../abstracts/variables";

.button {
    color: $white;
    font-family: Gilroy-Medium;
    font-size: 18px;
    border-radius: 50px;
    background: $primary-black;
    position: relative;
    padding: 10px 45px 10px 30px;
    text-transform: capitalize;


    @media (min-width: $bp-md) {
        width: initial;
        padding: 10px 53px 10px 30px;
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url("../../images/arrow.png");
        background-size: 85%;
        background-repeat: no-repeat;
        width: 20px;
        height: 21px;
        top: 35%;
        right: 10%;

        @media (min-width: $bp-md) {
            right: 12%;
        }
    }
}

.button-secondary {
    color: $white;
    font-family: Gilroy-Medium;
    font-size: 12px;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid $white;
    background-color: $white;
    color: $primary-black;
    margin-top: 50px;
    margin-right: 30px;
    text-transform: capitalize;

    &::after {
        content: unset;
    }

    @media (min-width: $bp-md) {
        font-size: 18px;
        padding: 15px 30px;
    }
}

.all-work {
    display: flex;
    justify-content: center;
    border: 1px solid $white;
    font-family: 'Gilroy-Medium';
    border-radius: 50px;
    padding: 15px 60px;
    background-color: $white;
    color: $primary-black;
    font-size: 18px;
    width: 188px;
    margin: 40px 0px;
    text-transform: capitalize;
}




.find-job-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    place-items: center;
}

.find-job {
    color: $white;
    font-family: Gilroy-Medium;
    font-size: 18px;
    border-radius: 50px;
    background: $primary-black;
    width: 100%;
    border: 1px solid $primary-black;
    padding: 10px 61px 10px 30px;
    color: $white;
    margin: 40px 0;
    position: relative;
    text-transform: capitalize;

    &::after {
        content: '';
        position: absolute;
        background-image: url("../../images/arrow.png");
        background-size: 85%;
        background-repeat: no-repeat;
        width: 20px;
        height: 21px;
        top: 35%;
        right: 35%;
    }
}

@media (min-width: 400px) {
    .find-job {
        &:after {
            right: 35%;
        }
    }
}

@media (min-width: 468px) {
    .find-job {
        &:after {
            right: 38%;
        }
    }
}

@media (min-width: 520px) {
    .find-job {
        &:after {
            right: 40%;
        }
    }
}

@media (min-width: 625px) {
    .find-job {
        &:after {
            right: 42%;
        }
    }
}

@media (min-width: $bp-md) {
    .find-job-wrapper {
        display: flex;
        justify-content: flex-start;
        width: auto;
    }

    .all-work {
        margin: 40px auto 30px;
        width: 200px;
    }

    .find-job {
        &:after {
            right: 27px;
        }
    }
}
@import "../abstracts/mixins";
@import "../abstracts/variables";

.button {
  padding: 16px 30px;
  @include flex($direction: row);
  background-color: $text-color;
  width: 190px;
  gap: 15px;
  border-radius: 50px;
}

.button__text {
  color: $button-text;
  font-size: $small;
}
