@import '../abstracts/variables';
.company-logo__name {
    display: none;

    @media(min-width: $bp-md) {
        @include flex(center);
    }
}

.company-logo {
    color: $black;
    font-size: 35px;
    letter-spacing: -0.7px;
   
    @include flex(center);

    & svg {
        width: 91px;
        height: 35px;
    }
}

.company-logo__name-first {
    font-family: "Gilroy";
    font-weight: 800;
}

.company-logo__name-studio {
    display: block;
    font-family: "Gilroy-Medium";
    text-transform: uppercase;
    position: relative;
    padding-right: 21px;

    &::after {
        content: url(../../images/svg/trade-mark.svg);
        position: absolute;
        top: -12px;
        right: 0;
    }
}