* {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy;', sans-serif;
  background-color: $primary-color;
}


.container {
  max-width: 1615px;
  margin: 0 auto;
}


* {
  box-sizing: border-box;
}



a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.dianne-russell__title-dianne {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;

  @media(min-width: $bp-md) {
      padding-left: 30px;
      padding-right: 30px;
  }

  @media (min-width: $bp-lg) {
      max-width: 1200px;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
  }
}

@media(min-width: $bp-md) {

}

@media (min-width: $bp-lg) {

}

@media (max-width: $bp-xs) {
 
}
