
@font-face {
    font-family: 'Gilroy';
    src: url("../../fonts/Gilroy-300.woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url("../../fonts/Gilroy-800.woff2");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url("../../fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url("../../fonts/Gilroy-light.woff2");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url("../../fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url("../../fonts/gilroy-regular.woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("../../fonts/gilroy-semi-bold.woff2");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url("../../fonts/Inter-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url("../../fonts/Inter-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
}
