//Font-sizes
$large: 150px;
$medium: 20px;
$small: 18px;

// Colors
$primary-color: #F5F3EA;
$secondary-color: #333;
$text-color: #252525;
$third-color: #000;
$primary-black: #000;
$white: #FFFFFF;
$black: #000;



$bp-md: 768px;
$bp-lg: 1200px;
$bp-xs: 478px;
$button-text: #fff;
