.dianne-russell__item {
    box-sizing: border-box;
    height: 70px;
    padding: 15px 40px;
    background-color: $white;
    border-radius: 50px;
    border: 0px;

    @media(min-width: $bp-lg) {
        img {
            width: 60px;
        }
    }

    @media(min-width: 1380px) {
        img {
            width: 90px;
        }
    }
    @media(min-width: 1600px) {
        img {
            width: 110px;
        }
    }
}

.dianne-russell__icon-clients {
    border-top: $primary-black 1px solid;
    padding: 70px 0;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    @media(min-width: $bp-md) {
        padding: 40px 30px;  
    }

    @media (min-width: $bp-lg) {
        padding: 70px 0px;
        column-gap: 32px;
    }

    @media (min-width: 1400px) {
        padding: 70px 0;
        column-gap: 34px;
    }

    @media (min-width: 1600px) {
        padding: 70px 0;
        column-gap: 40px;
    }
}