@import "../abstracts/mixins";

.contact {
  padding-top: 100px;
  padding-bottom: 100px;

  .wrapper {
    @include flex($direction: row);
    align-items: flex-start;
    gap: 40px;

    .title {
      font-size: 155px;
      @include uppercase-text;
    }

    .brand {
      @include flex($direction: column);
      gap: 30px;
      width: 700px;
    }

    .brand__subtitle {
      font-size: 50px;
      font-weight: 400;
      @include uppercase-text;
      color: $text-color;
    }

    .brand__description {
      color: $text-color;
      font-size: 34px;
      font-weight: 400;
    }
  }
}