@import "../abstracts/mixins";
@import "../abstracts/variables";


.footer {
  border-top: 1px solid #252525;;
  padding: 30px 0;

  .footer-wrapper {
    @include flex($direction: row);
    justify-content: space-between;
  }

  .footer-wrapper__copyright {
    color: $secondary-color;
    font-size: $small;
    font-weight: 300;

    span {
      font-weight: 700;
    }
  }
}