@import "../abstracts/variables";

.my-clients {
  padding-top: 50px;
  .title {
    text-align: center;
    @include uppercase-text;
    font-weight: 300;
    font-size: $large;
    margin-bottom: 50px;
    
  }

  .clients {
    @include flex($direction: row);
    flex-wrap: wrap;
    margin-left: 100px;
    .client {
      @include flex($direction: column);
      gap: 30px;
      padding: 30px;
      width: 29.3%;

      &--line {
        border-bottom: 1px solid $third-color;
      }

      &--right-line {
        border-right: 1px solid $third-color;
      }
    }

    .client__title {
      color: $secondary-color;
      font-size: 44px;
      font-weight: 800;
    }

    .client__description {
      color: $third-color;
      font-size: 23px;
      line-height: 30px;
    }

    .avatar {
      @include flex($direction: row);
      align-items: center;
      gap: 20px;

      div {
        @include flex($direction: column);
        gap: 10px;
      }
    }

    .avatar__name {
      color: $third-color;
      font-size: $medium;
      font-weight: 600;
    }

    .avatar__position {
      color: $third-color;
      font-size: $medium;
      font-weight: 400;
    }
  }
}