@import "../abstracts/mixins";
@import "../abstracts/variables";

.what-i-do {
  .wrapper {
    @include flex($direction: row);
    gap: 111px;

    .column {
      @include flex($direction: column);
      width: 50%;

      .background-image {
        background-image: url("../../images/bg-image.jpg");
        background-repeat: no-repeat;
        height: 100%;
      }

      .title {
        @include uppercase-text;
        font-size: 115px;
        margin-top: 70px;
      }

      .designs {
        @include flex($direction: column);
        width: 635px;
      }

      .designs__title {
        font-size: 44px;
        font-weight: 300;
        margin-bottom: 10px;
        @include uppercase-text;
        position: relative;
        padding-left: 50px;

        span {
          font-weight: 700;
        }

        &::before {
          position: absolute;
          display: block;
          left: 0;
          top: 6px;
          content: attr(data-number);
          font-size: 40px;
          line-height: 1;
          color: $third-color;
        }
      }

      .designs__description {
        font-size: $medium;
        font-weight: 400;
        color: $third-color;
        line-height: 28px;

        &--line {
          border-bottom: 1px solid $text-color;
          padding-bottom: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
